@tailwind base;
@tailwind components;
@tailwind utilities;
@media only screen and (min-width: 640px) {
  .bg {
    background-image: 
    url(/assets/images/bg.jpg);
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
  
  }
}

.bg-color{
  background: rgb(2,0,36);
  background: linear-gradient(340deg, rgba(2,0,36,1) 0%, rgba(95,19,148,1) 50%, rgba(91,87,233,1) 100%);
  

}
*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style: none;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

  
}


